body, td {
   font-family: arial, sans-serif;
   background-color: white;
   font-size: 12px;
   margin: 5px;
}

/* overqualifying to outspecify rules written into the html by knitr */
body > div.container-fluid.main-container { 
  max-width: 8in;
}

tt, code, pre {
   font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace;
}

/* overqualify again to override knitr */
#header > h1.title { 
   font-size: 28px; 
   letter-spacing: 2px;
}

h2 { 
   font-size:14pt; 
   margin-bottom: 0;
   margin-top: 1.5px;
}

h3 { 
   font-size:12pt; 
   margin-top: 1.5px;
   margin-bottom: 3px;
}

h4 { 
   font-size:1.0em; 
}

h5 { 
   font-size:0.9em; 
}

h6 { 
   font-size:0.8em; 
}

h1, h2, h3, h4, h5, h6, p.wordcloud {
    font-family: georgia, serif;
    font-weight: bold;
}

a:visited {
   color: rgb(50%, 0%, 50%);
}

pre {	
   margin-top: 0;
   max-width: 95%;
   border: 1px solid #ccc;
   white-space: pre-wrap;
}

pre code {
   display: block; padding: 0.5em;
}

code.r, code.cpp {
   background-color: #F8F8F8;
}

table, td, th {
  border: none;
}

blockquote {
   color:#666666;
   margin:0;
   padding-left: 1em;
   border-left: 0.5em #EEE solid;
}

hr {
   height: 0px;
   border-bottom: none;
   border-top-width: thin;
   border-top-style: dotted;
   border-top-color: #999999;
}

@media print {
   * { 
      background: transparent !important; 
      color: black !important; 
      filter:none !important; 
      -ms-filter: none !important; 
   }

   body { 
      font-size:9pt; 
      max-width:100%; 
   }
       
   a, a:visited { 
      text-decoration: underline; 
   }

   hr { 
      visibility: hidden;
      page-break-before: always;
   }

   pre, blockquote { 
      padding-right: 1em; 
      page-break-inside: avoid; 
   }

   tr, img { 
      page-break-inside: avoid; 
   }

   img { 
      max-width: 100% !important; 
   }

   @page :left { 
      margin: 10mm 10mm 5mm 10mm; 
   }
     
   @page :right { 
      margin: 10mm 10mm 5mm 10mm; 
   }

   p, h2, h3 { 
      orphans: 3; widows: 3; 
   }

   h2, h3 { 
      page-break-after: avoid; 
   }
   /* override Chrome's autmatic printing of urls after links */
   a[href]:after {
    content: none !important;
  }
  p, td, td p {
    font-size: 9pt;
  }
}

.resume-table {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}
.resume-table td {
    padding: 1.5px 5px 0 1.5px
}
.resume-table td[colspan="5"] {
    padding-top: 0px;
    padding-bottom: 4px;
}
/* align the dates column */
.resume-table td:nth-child(5) {
    float: right;
    width: 8em;
    margin: 0
}

.header-table {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#contact-table tr {
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

.header-table td {
    width: 33%;
    padding: 1px 0;
}

#contact-table td:first-child {
  padding-left: 8px;
}

#contact-table td:last-child {
  padding-right: 8px;
}

.title {
    margin: 0 auto;
    width: 99%;
    text-align: center;
}

ul, ol {
  margin-bottom: 0;
}

/* the markdown parser is bugging and placing some <li> outside of their <ul>
these rules correct their appearance 
ul li {
  padding-left: 5px;
}
ul {
  padding-left: 12px;
} */

/* creating list indent manually due to above bug */
td p {
    margin: 0;
    padding-left: 7.5px;
    text-indent: -7.5px;
}

td p:first-child {
    margin-top: 0;
}

p {
  margin: 0 0 2px 0;
}

p:last-child {
  margin-bottom: 5px; 
}

#footer {
  display: block;
  text-align: center;
  margin-top: 10px;
}

#selected-items {
    z-index: 100;
    margin-bottom: -2.5px;
    position: relative;
}

div.section.level3

#selected-items+div+.level3>h3 {
  margin-top: -3px;
}

.wordcloudwrapper {
  float: right; 
}

img.wordcloud {
  margin: -15px -15px -25px -10px;
}

p.wordcloud {
  position: relative;
  text-align: center;
  top: 0.1in;
  font-size:12pt;
}

.wordcloudalttext {
  width: 259px;
  height: 259px;
  z-index: -1;
  position: absolute;
  font-size: 3px;
}

p.resume-text {
  line-height: 16px;
}

#subtitle td {
  font-size: 16px;
  color: #777;
  font-family: arial, sans-serif;
}

#subtitle td:nth-child(even) {
  width: 10px;
}
