body, td {
   font-family: arial, sans-serif;
   background-color: white;
   font-size: 12px;
   margin: 8px;
}

tt, code, pre {
   font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace;
}

h1 { 
   font-size:2.2em; 
}

h2 { 
   font-size:14pt; 
   margin-bottom: 0;
   margin-top: 1.5px;
}

h3 { 
   font-size:12pt; 
   margin-top: 1.5px;
   margin-bottom: 0;
}

h4 { 
   font-size:1.0em; 
}

h5 { 
   font-size:0.9em; 
}

h6 { 
   font-size:0.8em; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: georgia, serif;
}

a:visited {
   color: rgb(50%, 0%, 50%);
}

pre {	
   margin-top: 0;
   max-width: 95%;
   border: 1px solid #ccc;
   white-space: pre-wrap;
}

pre code {
   display: block; padding: 0.5em;
}

code.r, code.cpp {
   background-color: #F8F8F8;
}

table, td, th {
  border: none;
}

blockquote {
   color:#666666;
   margin:0;
   padding-left: 1em;
   border-left: 0.5em #EEE solid;
}

hr {
   height: 0px;
   border-bottom: none;
   border-top-width: thin;
   border-top-style: dotted;
   border-top-color: #999999;
}

@media print {
   * { 
      background: transparent !important; 
      color: black !important; 
      filter:none !important; 
      -ms-filter: none !important; 
   }

   body { 
      font-size:12pt; 
      max-width:100%; 
   }
       
   a, a:visited { 
      text-decoration: underline; 
   }

   hr { 
      visibility: hidden;
      page-break-before: always;
   }

   pre, blockquote { 
      padding-right: 1em; 
      page-break-inside: avoid; 
   }

   tr, img { 
      page-break-inside: avoid; 
   }

   img { 
      max-width: 100% !important; 
   }

   @page :left { 
      margin: 15mm 10mm 5mm 10mm; 
   }
     
   @page :right { 
      margin: 15mm 10mm 5mm 10mm; 
   }

   p, h2, h3 { 
      orphans: 3; widows: 3; 
   }

   h2, h3 { 
      page-break-after: avoid; 
   }
   a[href]:after {
    content: none !important;
  }
  h1 {
    font-size:1.8em;
  }
  p {
    font-size: 10pt;
  }
}

.resume-table {
    width: 100%
}
.resume-table td {
   /* text-align: left; */
    padding: 1.5px 5px 3px 1.5px
}
.resume-table td+td+td+td+td {
    float: right;
    width: 8em;
    margin: 0
}

#contact-table {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#contact-table tr {
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

#contact-table td {
    width: 33%;
}

.title {
    margin: 0 auto;
    width: 99%;
    text-align: center;
}

ul, ol {
  margin-bottom: 0;
}

/* the markdown parser is bugging and placing some <li> outside of their <ul>
these rules correct their appearance */
td>li {
  padding-left: 27px
}

td>li p {
  margin-bottom: 0
}

p {
  margin-bottom: 0; 
}

#footer {
  display: block;
  text-align: center;
  margin-top: 15px;
}

#selected-items {
  margin-top: -15px;
}

.resume-text {
  width: 4.7in;
}

/* #jobs-table tr:nth-child(even) td:nth-child(1),
#jobs-table tr:nth-child(even) td:nth-child(2),
#jobs-table tr:nth-child(even) td:nth-child(3),
#jobs-table tr:nth-child(even) td:nth-child(5) {
    display: none;
}
#jobs-table tr:nth-child(even) td:nth-child(4) {
    float: left;
    width: 265%
}
#jobs-table tr:nth-child(odd) td:nth-child(4) {
    display: none;
}
*/